.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

body{
margin: 0px;

font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
}

.blog-navbar-recipelist-type{
width: 100%;
background: black;
}

.blog-navbar-recipelist-type ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.blog-navbar-recipelist-list li {
    float: left;
}

.blog-navbar-recipelist-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.blog-navbar-recipelist-type li a:hover:not(.active) {
    background-color: #D5D5D5;
}

.part-end {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
}

.part-end-content{
margin: 0 auto;
width: 1500px;
text-align: center;
padding-left: 50px;
padding-right: 50px;
min-height: 250px;
margin-top: 50px;
}

.content-text1{
width: 32%;
float: left;
}

.content-text1 h1{
text-transform: uppercase;
letter-spacing: 0.48em;
line-height: 1.235em;
color: #c39c57;
font-size: 17px;
margin: 0 0 25px;
}

.content-text1 p{
font-weight: 500;
line-height: 2.425em;
font-size: 14px;
color: #413f40;
text-align: justify;
}
.content-text2{
width: 32%;
margin: 0 auto;
display: inline-block;
}

.content-text2 li{
list-style-type: none;
width: 32%;
margin: 0 auto;
display:inline-block;
}
.content-text2 p{
font-weight: 500;
line-height: 2.425em;
font-size: 14px;
color: #413f40;
}

.content-text3{
width: 12%;
float:right;
}

.content-text3 li{
     list-style-type: none;

}

.content-text3 li i{
float: left;
transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
vertical-align: middle;
letter-spacing: 0em;
text-align: center;
line-height: 22px;
font-size: 12px;
height: 26px;
width: 26px;
margin-right: 10px;
font-family: "icomoon" !important;
color: #413f40;
}


.content-text3 h3{
font-size: 13px;
color: #c39c57;
padding-top: 5px;
}



.text2 h3{
text-align: center;
color:#413f40;
text-transform: uppercase;
}

.text2 table{
margin: 0 auto;
border: 1px solid #c39c57;
padding: 25px;
}
